<html>
  <head>
    <title>My First Flask</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
  </head>
  <body>
    <div class="center">
      <h2>"{{quote["quote"]}}"</h2>
      <p>{{quote["season"]}} - {{quote["episode"]}}</p>
    </div>
    <div>
      <input type="button" onclick='location.href="/";' value="First page" />
      <input type="button" onclick='location.href="/something";' value="Second page" />
    </div>
    {% block content %} {% endblock %}
  </body>
</html>
